{% extends 'finder/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<video autoplay muted loop id="bg-video">
    <source src="{% static 'finder/Bg.mp4' %}" type="video/mp4">
</video>

<div class="container">
    <div class="form-box"> <h2 class="mb-4">Login</h2>
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>
{% endblock %}